/* Page Settings */
html {
	height:100%;
	width:100%;
}

body {
	height:100%;
	width:100%;
	padding:0;
	margin:0px;
	background-color:#ffffff;
	font-family:"Helvetica", sans-serif;
	font-size:16px;
	text-align: center;
	color: #000000;
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 50px;
	color: #E10600;
}

